@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<form ajax-request="true" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="login-form-head">
        <h4>Daily Standup</h4>
        <p>Hello there, Sign in and start managing your Daily Standup</p>
    </div>
    <div class="login-form-body">
        <div class="form-gp">
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <i class="ti-email"></i>
        </div>

        <div class="form-gp">
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <i class="ti-lock"></i>
        </div>
        <div class="row mb-4 rmber-area">
            <div class="col-6">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input asp-for="RememberMe" class="custom-control-input" id="customControlAutosizing">
                    <label asp-for="RememberMe" class="custom-control-label" for="customControlAutosizing"></label>
                </div>
            </div>
            <div class="col-6 text-right">
                <a href="#">Forgot Password?</a>
            </div>
        </div>
        <div class="submit-btn-area">
            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
        </div>
        <div class="form-footer text-center mt-5">
            <p class="text-muted">
                Don't have an account?
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    Sign up
                </a>
            </p>
        </div>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
