@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<form asp-antiforgery="true" asp-action="register" asp-route-returnUrl="@ViewData["ReturnUrl"]" ajax-request="true" method="post">
    <div class="login-form-head">
        <h4>Daily Standup</h4>
        <p>Hello there, Sign up and Join Daily Standup.</p>
    </div>
    <div class="login-form-body">
        <div class="form-gp">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
            <i class="ti-user"></i>
        </div>
        <div class="form-gp">
            <label asp-for="MiddleName"></label>
            <input asp-for="MiddleName" />
            <i class="ti-user"></i>
        </div>
         <div class="form-gp">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
            <i class="ti-user"></i>
        </div>
        <div class="form-gp">
            <label asp-for="Email"></label>
            <input asp-for="Email"/>
            <i class="ti-email"></i>
        </div>
        <div class="form-gp">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <i class="ti-lock"></i>
        </div>
        <div class="form-gp">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword"/>
            <i class="ti-lock"></i>
        </div>
        <div class="submit-btn-area">
            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
        </div>
        <div class="form-footer text-center mt-5">
            <p class="text-muted">Don't have an account?
                <a asp-action="login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    Sign In
                </a>
            </p>
        </div>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
